* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
}

@font-face {
    font-family: 'Roboto'; /* любое свое название */
    src: local('Roboto'); /* запуск шрифта у пользователя */
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Philosopher';
    src: local('Philosopher');
    src: url(../fonts/Philosopher-Regular.ttf);
}

body {
    background-color: #ffe2b0;
}
header {
    text-align: center; /* лого по центру */
    margin-bottom: 20px;
}

ul {
    list-style-type: none; /* убрать точки слева от текста */
    text-align: center; /* текст по центру */
    padding: 0;
    margin-bottom: 20px;
}

li {
    display: inline;
    margin-right: 100px;
}

a {
    color: black; /* убрать синий цвет */
    text-decoration: none; /* убрать подчеркивание */
    font-size: 18px;
}

li:last-child {
    margin-right: 0px;
}

nav {
    margin-bottom: 20;
}

.section-about {
    height: 640px;
    background: url(../img/01-Картинка-фона.jpg) center/cover no-repeat;
    position: relative;
    margin-bottom: 20px; 
}

.section-about__block {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234, 158, 65, 0.8)100%);
    position: absolute;
    top: 54%;
    left: 50%;
    text-align: center;
    padding-top: 15px;
}

.section-about__border {
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 17px 0 0 28px;
    text-align: left;
}

.section-about__title{
    font-size: 36px;
    margin: 0px; /* убрали отступы  */
    margin-bottom: 9px;
    font-family: 'Philosopher';
}

.section-about__text{
    font-size: 12px;
    margin: 0px;
}

.section-description {
    margin-bottom: 20px;
}

.section-description__icon-box {
    text-align: center; /* расположение иконок по центру */
    margin-bottom: 20px; /* отодвинули элементы снизу */
}

.section-description__icon-box img { 
    margin-right: 76px; /* расстояние иконок друг от друга */
}
.section-description__icon-box img:last-child { 
    margin-right: 0px; /* убрали отступы с последней иконки справа */
}

.section-description__title {
    font-size: 96px; /* размер тектса */
    margin: 0px; /* убрали отступы от текста */
    text-align: center;
    font-family: 'Philosopher';
}

.section-description__span {
    color: #f15b40;
}

.section-description__text {
    font: 18px;
    margin: 0px;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

.section-map {
    margin-bottom: 20px;
}

.section-map__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
    font-family: 'Philosopher';
}

iframe {
    display: block;
    margin: 0 auto;
}

hr {
    border: none;
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer {
    height: 80px;
}